.my-cirlce-btn {
  width: 40px;
  height: 40px;
  background-color: #007bff; /* Couleur de fond du cercle */
  border-radius: 50%; /* Pour rendre le conteneur circulaire */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  color: #ffffff; /* Couleur de l'icône à l'intérieur du cercle */
  font-size: 20px;
}

.custom-btn-danger {
    color: #fff;
    background-color: #b82f3d; /* Changez la couleur d'arrière-plan selon vos préférences */
    border-color: #b82f3d; /* Changez la couleur de la bordure selon vos préférences */
}

.custom-btn-danger:hover {
    color: #fff;
    background-color: #c82333; /* Changez la couleur d'arrière-plan au survol selon vos préférences */
    border-color: #bd2130; /* Changez la couleur de la bordure au survol selon vos préférences */
}
  
h6{
    font-weight: bold;
}

.similar-question{
  background-color: #ccf2ff;
  padding: 1%;
  border-radius: 10px;
}

.questionnaire-title {
  color: #007bff; /* Couleur bleue, vous pouvez ajuster selon votre préférence */
  font-family: 'Arial', sans-serif; /* Police de caractères, ajustez selon vos préférences */
  margin-bottom: 20px; /* Marge en bas pour un espacement agréable, ajustez selon vos besoins */
}
