.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BOOTSTRAP OVERRIDE */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #1f2125;
}

.head-nav {
  /* height: 50px; */
  padding: 10px 0px;
  background-color: #282c34;
}

.search-bar input {
  border-radius: 15px;
  padding: 5px;
  border: 1px black outset;
}

.border-less {
    outline: none;
    border: none;
    border-bottom: 1px solid;
}

.dashed-bottom-border {
    outline: none;
    border: none;
    border-bottom: 1px dashed;
}